<div class="about-me ct-row">

    <div class="border-profile-pic">
        <div class="profile-pic"></div>
    </div>

    <div class="txt-box about-me-txt ct-column">
        <div class="ct-txt-box w-txt">
            <h1>sobre mí</h1>
            <p>
                lorem ipsum dolor sit amet, consectetur adi spicing elit, sed eiusmod tempor incididunt ut
                labore et dolore magna aliqua.
                <br>
                <br>
                ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
            </p>
        </div>
    </div>

</div>