<div class="ct-column presentation">
    <div class="ct-row name w-txt">
        <h1><strong>Figueredo Demian</strong></h1>
    </div>

    <div class="ct-row bio">
        <p id="title" class="color-txt">Full Stack<br>Developer Jr.</p>
        <p id="short-des" class="w-txt">Lorem ipsum dolor sit amet, consectetur adi<br>spicing elit, sed eiusmod.</p>
    </div>

    <div class="ct-row social-media">
        <p class="w-txt">social media</p>
        <div class="mid-line separator"></div>
        <div class="ct-row sm-icons">
            <div  class="ig-icon small-ico ico-hov pointer"></div>
            <div class="gh-icon small-ico ico-hov pointer"></div>
            <div class="in-icon small-ico ico-hov pointer"></div>
        </div>
    </div>
</div>