<div class="skills ct-column">

    <h1 class="title w-txt">hard and soft skills.</h1>
    
    <div class="skills-ct">
        <div class="skill">
            <div class="skill-ico html"></div>
        </div>
        <div class="skill">
            <div class="skill-ico css"></div>
        </div>
        <div class="skill">
            <div class="skill-ico js"></div>
        </div>
        <div class="skill">
            <div class="skill-ico github"></div>
        </div>
        <div class="skill">
            <div class="skill-ico teamwork"></div>
        </div>
        <div class="skill">
            <div class="skill-ico speech"></div>
        </div>
    </div>

</div>